   
* {
    -webkit-appearance: none;
}
   body {
  background: linear-gradient(to bottom, #4e0082, #6f3f8b, #db7093);
  background-attachment: fixed;

  color: white;
  font-family:'Papyrus', 'Fantasy', serif;
  margin: 0;
  padding: 0;
  text-align: center;
}
  
  


.lyrics-line {
  margin: 15px auto;
  font-size: 2rem;
  text-align: center; }

.highlight {
  background-color: #ffe066; 
  color: #000;               
  font-weight: bold;
  border-radius: 8px;
  animation: glow 1.5s ease-in-out infinite; 
}
    @keyframes glow {
       0%   { box-shadow: 0 0 5px #ffd700; }
      50%  { box-shadow: 0 0 20px #fffa90; }
     100% { box-shadow: 0 0 5px #ffd700; }
    }
    h1 {
      color: #FFD700;
      margin: 20px 0;
    }
    h2 {
      color: #FFD700;
      margin: 20px 0;
    }

.video-container {
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 900;
}
#bottomBtn {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 999;
}
.main-button {
    padding: 0px 0px;
    font-size: 28pt;
    cursor: pointer;
    background-color: darkgray;
}
 a {
      display: inline-block;
      margin-top: 40px;
      text-decoration: none;
      background: #663399;
      color: white;
      padding: 10px 20px;
      border-radius: 8px;
 }
